.wd-margin-left{
    margin-left: 5px;
}
.wd-border{
    border-color:rgb(47,51,54);
    border-width: 1px;
    border-style: solid;
}
.wd-border-bottom{
    border-color:rgb(47,51,54);
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}
.wd-border-round-btm{
    border-color:rgb(47,51,54);
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.wd-heading {
    padding-top: 12px;
    padding-left: 16px;
}
.wd-heading-font{ font-size: 20px; }

.wd-no-margin { margin: 0px; }
.wd-margin-top-bottom {
    margin-top: 15px;
    margin-bottom: 2px;
}
.wd-heading-sub {
    margin: 2px;
    color: rgb(76, 82, 87);
    font-size: 13px; 
}
.wd-user{
    font-weight: 500;
    padding-right: 3px;
}
.wd-profile{
    padding-top: 12px;
    padding-left: 16px;
    height:48px;
    border-radius: 50%;
}

.wd-image{
    width: 504px;
    height: 264px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.wd-max-width{ max-width: 506px; }
.wd-flex{ display: flex; }

.wd-main-txt{
    font-size: 15px;
    line-height: 1.20em;
    margin: 0px 0px 20px 0px;
}
.wd-secondary-heading{
    font-weight: bold;
    margin: 0px;
    line-height: 1.25em;
    font-size: 15px;
}
.wd-secondary-txt{
    color: rgb(76, 82, 87);
    margin: 0px;
    line-height: 1.15em;
    padding-top: 3px; 
    font-size: 15px;
}
.wd-padding { padding: 12px; }
.wd-pd-left{ padding-left: 0px; }
.wd-items-evenly{
    list-style: none;
    justify-content: space-between;
    font-size: 12px;
    color: rgb(76, 82, 87); 
}
.wd-icon-heart{ color:red; }
.wd-icon-upload{ font-size: 15px; }
.wd-pd-bottom-s{ padding-bottom:5px; }
