body{
    background-color: white;
    color: black;
}
.wd-font-danger{
    color:red;
}
.wd-mr{
    margin-right: 25px;
}

.wd-pos-rel{
    position: relative;
    width:100%
}
.wd-pos-rel-x{
    position: relative;
    /* width:100% */
}
.wd-pos-rel-m{
    position: relative;
    width:85%
}
.wd-pic-title{
    position: absolute;
    bottom: 3px;
    color: white;
    padding-left: 5px;
    font-size: 40px;
}
.wd-input-icon{
    position: absolute;
    bottom: 22px;
    padding-left:15px;
}

.wd-input-icon-xl{
    position: absolute;
    bottom: 10px;
    padding-left:15px;
}

.wd-input-icon-m{
    position: absolute;
    bottom: 10px;
    padding-left:15px;
}
.wd-input-icon-s{
    position: absolute;
    bottom: 10px;
    padding-left:15px;
}
.wd-m-main-content{
    margin-right:11px;
    margin-left:11px;
}
.wd-text-follow{
    font-size:14px;
}
.wd-overlay{
    z-index: 9;
}

/* .wd-ft-secondary{
    color: rgb(110, 118,125);
    font-size:13px;
}
.wd-ft-bold{
    font-weight: bolder;
    font-size: 16px;
}
.wd-line-height-primary{ line-height: 1.3em; }
.wd-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right:16px;
}
.wd-display-flex{
    display:flex;
    justify-content:space-between;
    padding: 10px;
}
.wd-pd-left{
    padding-left:20px;
    padding-right:5%;
}
.wd-pd-bottom-l{ padding-bottom:10px; }
.wd-pd-top{     padding-top:10px; }
.wd-pd-left-xl{     padding-left: 35px; }

.wd-border-top-bottom-margin{
    border-color:rgb(47,51,54);
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;

}
.wd-input-txt{
    width: 95%;
    background-color: rgb(53, 51, 51);
    border-radius: 50px;
    padding: 10px;
    padding-left: 50px;
    border:none;
    color: rgb(110, 118,125);
    font-size: 15px;
    margin-bottom:15px;
}
.wd-input-field-pd{ padding-top: 16px; }

.wd-disp-flex{
    display: flex;
    justify-content: space-between;
    width:95%
}

.wd-ul-no-style{ list-style: none; }
.wd-border{
    border-color:rgb(47,51,54);
    border-width: 1px;
    border-style: solid;
    margin-left: 20px;
    margin-right: 5px;
}
.wd-links {
    outline: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(110, 118,125);
}
.wd-active-link{
    color: rgb(29,161,242);
    border-bottom:4px solid rgb(29,161,242);
    padding-bottom: 12px;
}
.wd-no-margin { margin: 0px; }
.wd-margin-top-xs { margin-top: 10px; }
.wd-margin-bottom-xs { margin-bottom: 1px; }

.wd-no-border-bottom{
    border-color:rgb(47,51,54);
    border-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: none;
}

.wd-no-border-top{
    border-color:rgb(47,51,54);
    border-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
}
.wd-icon-input{ color: rgb(110, 118, 125) };

.wd-icon-abs{
    position: absolute;
    top:10px;
    left:50px;
}
.wd-rel{ position:relative; }
.wd-text-center{ align-items:flex-end; }

.wd-icon-gear{
    font-size:30px;
    color: rgb(29,161,242);
}

.wd-row{ clear:both; }

.wd-col-1{
    float:left;
    width:2%;

}
.wd-col-10{
    float:left;
    width:90%;

}
.wd-pos-abs{
    position:absolute;
    top: 70px;
    left: 60px;
}
.wd-image-logo{
    width:20px;
    height:20px;
    border-radius: 50%;

}
.wd-border-under-links{
    background-color:rgb(53, 51, 51);
    width:100%;
    height:20px;
    border: 1px solid rgb(47,51,54);
    border-top-width: medium; 
}
.wd-min-width { min-width: 1000px; } */


