.wd-ft-bold{
    font-weight: bold;
}

.wd-pd-st{
    padding-left: 270px;
}

.wd-lh{
    line-height: 1.1;
}
.wd-lh-w100{
    line-height: 1.1;
    width:100%;
}

.wd-fs {
    font-size: 14px;
}

.wd-fs-s {
    font-size: 13px;
}

.wd-icon-primary{
    color:#0d6efd;
}

.wd-full {
    margin-left: 42%;
}

.wd-img-avatar {
    width: 55px;
    height: 55px;
}

.wd-ellipsis{
    position:absolute;
    right:5%;
}